Repository vre-charite/image_pipelines: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-dcmedit, build-filecopy

.gitlab-ci.yml:

image: docker:latest

variables:
  REGISTRY: 10.32.42.225:5000
  DCMEDIT_CONTAINER_IMAGE: ${REGISTRY}/dcmedit:v0.1
  FILECOPY_CONTAINER_IMAGE: ${REGISTRY}/filecopy:v0.1


build-dcmedit:
  stage: build
  tags:
    - VRE-Deployment
  only:
    changes:
      - dcmedit/*
  script:
    - docker login ${REGISTRY} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
    - docker build -t ${DCMEDIT_CONTAINER_IMAGE} dcmedit/.
    - docker push ${DCMEDIT_CONTAINER_IMAGE}

build-filecopy:
  stage: build
  tags:
    - VRE-Deployment
  only:
    changes:
      - filecopy/*
      - filecopy/scripts/*
  script:
    - docker login ${REGISTRY_DEV} -u ${DOCKER_USER} -p ${DOCKER_PASSWORD}
    - docker build -t ${FILECOPY_CONTAINER_IMAGE} filecopy/.
    - docker push ${FILECOPY_CONTAINER_IMAGE}

VRE deployment
  MRtrix3_connectome/run_pipeline.sh
  dcmedit/sample_run_use_default.sh
  dcmedit/scripts/dcm_edit.py
  dcmedit/test.sh
  filecopy/sample_run.sh
  filecopy/scripts/file_copy.py
Due: build-dcmedit, build-filecopy

Update .gitlab-ci.yml to change environment variable
  .gitlab-ci.yml
Due: none

Update file_copy.py
  filecopy/scripts/file_copy.py
Due: build-filecopy

sync
  filecopy/Dockerfile
  filecopy/scripts/file_copy.py
Due: build-filecopy

sync
  filecopy/Dockerfile
Due: build-filecopy

VRE deployment
  filecopy/sample_run.sh
  filecopy/scripts/file_move.py
Due: build-filecopy

VRE deployment
  filecopy/scripts/file_copy.py
  filecopy/scripts/file_move.py
Due: build-filecopy

VRE deployment
  filecopy/scripts/file_copy.py
  freesurfer/build.sh
  freesurfer/license.txt
Due: build-filecopy

VRE deployment
  dcmedit/scripts/Pipfile
  dcmedit/scripts/config.py
  dcmedit/scripts/dcm_edit.py
  dcmedit/scripts/minio_client.py
  dcmedit/scripts/preprocess.py
  dcmedit/scripts/requirements.txt
  dcmedit/scripts/sample_run.sh
  filecopy/requirements.txt
  filecopy/scripts/config.py
  filecopy/scripts/file_copy.py
  filecopy/scripts/file_move.py
  filecopy/scripts/minio_client.py
Due: build-filecopy

Update Dockerfile
  filecopy/Dockerfile
Due: build-filecopy

VRE deployment
  filecopy/scripts/config.py
Due: build-filecopy

VRE deployment
  .gitlab-ci.yml
  bids-validator/requirements.txt
  bids-validator/scripts/config.py
  bids-validator/scripts/minio_client.py
  bids-validator/scripts/validate_dataset.py
  dcmedit/scripts/dcm_edit.py
  dcmedit/scripts/minio_client.py
  filecopy/requirements.txt
  filecopy/scripts/config.py
  filecopy/scripts/file_copy.py
  filecopy/scripts/file_move.py
  filecopy/scripts/folder.py
  filecopy/scripts/folder_copy.py
  filecopy/scripts/utils.py
Due: build-filecopy

Add Dockerfile
  bids-validator/Dockerfile
Due: none

Update Dockerfile
  bids-validator/Dockerfile
Due: none

VRE deployment
  bids-validator/scripts/config.py
Due: none

Update dockerfile
  dcmedit/Dockerfile
Due: build-dcmedit

VRE deployment
  filecopy/scripts/folder_copy.py
Due: build-filecopy

[ci skip] moving proxy from Dockerfile to gitlab-ci
  .gitlab-ci.yml
  dcmedit/Dockerfile
Due: build-dcmedit

[ci skip] moving proxy from Dockerfile to gitlab-ci
  bids-validator/Dockerfile
  filecopy/Dockerfile
Due: build-filecopy

[ci skip] moving http_proxy from Dockerfile to gitlab-ci
  .gitlab-ci.yml
Due: none

[ci skip] syncing the Dockerfile with Dev
  bids-validator/Dockerfile
  dcmedit/Dockerfile
  filecopy/Dockerfile
Due: build-dcmedit, build-filecopy

Update file_size_gb variable
  filecopy/scripts/folder_copy.py
Due: build-filecopy

Convert 5 to 5GB
  filecopy/scripts/folder_copy.py
Due: build-filecopy

Allow 5GiB file upload
  filecopy/scripts/file_copy.py
Due: build-filecopy

VRE deployment
  bids-validator/.env.schema
  bids-validator/Dockerfile
  bids-validator/requirements.txt
  bids-validator/scripts/config.py
  bids-validator/scripts/minio_client.py
  bids-validator/scripts/validate_dataset.py
  dcmedit/Dockerfile
  filecopy/Dockerfile
  filecopy/scripts/config.py
  filecopy/scripts/file_move.py
  filecopy/scripts/folder.py
  filecopy/scripts/folder_copy.py
  filecopy/scripts/folder_move.py
  filecopy/scripts/neo4j_helper.py
  filecopy/scripts/utils.py
  filecopy/scripts/vr_mgr.py
  freesurfer/Dockerfile
Due: build-dcmedit, build-filecopy

VRE deployment
  filecopy/scripts/folder_move.py
Due: build-filecopy

VRE deployment
  bids-validator/scripts/validate_dataset.py
  filecopy/scripts/file_copy.py
  filecopy/scripts/folder_copy.py
  filecopy/scripts/neo4j_helper.py
  filecopy/scripts/services/approval/client.py
  filecopy/scripts/services/approval/models.py
  filecopy/tests/services/approval/test_client.py
  filecopy/tests/services/approval/test_models.py
  pyproject.toml
Due: build-filecopy

VRE-2203 Update Docker registry Image URL
  .gitlab-ci.yml
Due: none

VRE-2645 Update image_pipeline CICD pipeline
  .gitlab-ci.yml
  bids-validator/Dockerfile
  dcmedit/Dockerfile
  filecopy/Dockerfile
Due: build-dcmedit, build-filecopy

Removing comment
  filecopy/internal_requirements.txt
  filecopy/requirements.txt
Due: build-filecopy

Removing comment
  .gitlab-ci.yml
  bids-validator/internal_requirements.txt
  bids-validator/requirements.txt
  dcmedit/Dockerfile
Due: build-dcmedit

Removing comment
  dcmedit/scripts/internal_requirements.txt
  dcmedit/scripts/requirements.txt
  filecopy/Dockerfile
Due: build-filecopy

Trigger CICD
  dcmedit/Dockerfile
Due: build-dcmedit
